In [1]:
!python -m pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: scipy>=1.0 in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from seaborn) (1.5.4)
Requirement already satisfied: pandas>=0.23 in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from seaborn) (1.1.5)
Requirement already satisfied: numpy>=1.15 in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from seaborn) (1.19.5)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.3.4-cp36-cp36m-win_amd64.whl (8.5 MB)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp36-cp36m-win_amd64.whl (51 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Collecting pillow>=6.2.0
  Downloading Pillow-8.2.0-cp36-cp36m-win_amd64.whl (2.2 MB)
Requirement already satisfied: six in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'C:\Users\dnjsc\AppData\Local\Programs\Python\Python36\python.exe -m pip install --upgrade pip' command.

Installing collected packages: pillow, kiwisolver, cycler, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.4 pillow-8.2.0 seaborn-0.11.1

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import seaborn as sns

In [4]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [6]:
survived, pclass, age, sibsp, parch, fare

NameError: name 'survived' is not defined

In [8]:
X = df[['pclass','sibsp', 'parch', 'fare']]
Y = df[['survived']]
X.shape, Y.shape

((891, 4), (891, 1))

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(X,Y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((668, 4), (223, 4), (668, 1), (223, 1))

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
logR = LogisticRegression()
type(logR)

sklearn.linear_model._logistic.LogisticRegression

In [13]:
logR.fit(x_train,y_train)

c:\users\dnjsc\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [14]:
logR.classes_

array([0, 1], dtype=int64)

In [15]:
logR.coef_

array([[-0.75968105, -0.13175502,  0.23839678,  0.00269909]])

In [16]:
logR.score(x_train,y_train)

0.6796407185628742