In [1]:
from sklearn import datasets

In [2]:
!dir .\files\advertising.csv

 C 드라이브의 볼륨: OS
 볼륨 일련 번호: AED6-2CB0

 C:\Develops\test_machinelearning\files 디렉터리

파일을 찾을 수 없습니다.

In [3]:
!dir .\files\advertising.xls

 C 드라이브의 볼륨: OS
 볼륨 일련 번호: AED6-2CB0

 C:\Develops\test_machinelearning\files 디렉터리

2021-07-01  오후 02:30           289,280 advertising.xls
               1개 파일             289,280 바이트
               0개 디렉터리  168,641,306,624 바이트 남음

In [4]:
!dir .\files\advertising.xls

 C 드라이브의 볼륨: OS
 볼륨 일련 번호: AED6-2CB0

 C:\Develops\test_machinelearning\files 디렉터리

2021-07-01  오후 02:30           289,280 advertising.xls
               1개 파일             289,280 바이트
               0개 디렉터리  168,641,306,624 바이트 남음

In [5]:
import pandas as pd

In [26]:
pd_data = pd.read_excel('./files/advertising.xls')
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   float64
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(4), int64(3), object(3)
memory usage: 78.2+ KB

In [27]:
pd_data

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,42456.036933,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,42464.068773,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,42442.858125,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,42379.105081,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,42524.150208,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,42411.909028,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,42482.088206,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,42401.725660,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,42453.108264,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,42524.905104,1

In [28]:
pd_data.columns= ['daily time spent on site','age','area income','daily internet usage','ad topic line','city','male','country','timestamp','clicked on ad']

In [29]:
pd_data

,daily time spent on site,age,area income,daily internet usage,ad topic line,city,male,country,timestamp,clicked on ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,42456.036933,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,42464.068773,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,42442.858125,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,42379.105081,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,42524.150208,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,42411.909028,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,42482.088206,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,42401.725660,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,42453.108264,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,42524.905104,1

In [38]:
x =pd_data[['age','daily time spent on site']]

In [39]:
y=pd_data[['male']]

In [40]:
x.shape, y.shape, type(x), type(y)

((1000, 2),
 (1000, 1),
 pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame)

In [41]:
from sklearn.linear_model import LinearRegression

In [54]:
from sklearn.model_selection import train_test_split

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x,y)
x_train.shape, x_test.shape, y_train.shape, Y_test.shape

((750, 2), (250, 2), (750, 1), (250, 1))

In [67]:
lr = LinearRegression()

In [69]:
lr.fit(x_train,y_train)

LinearRegression()

In [70]:
lr.coef_, lr.intercept_

(array([[-0.00142012, -0.00031615]]), array([0.55409226]))

In [71]:
lr.score(x_train,y_train)

0.0005631247847582843

In [75]:
lr.predict(x_train[100:104])

array([[0.4907904 ],
       [0.48210272],
       [0.48018419],
       [0.46476031]])